{% extends 'base.html' %}
{% load static %}
{% block body %}
 <body>
     <h1 class  = "mt-4"> <span class="red">Your Incomes</span></h1>
         <!-- <h2>Created with love by <a href="http://pablogarciafernandez.com" target="_blank"></a></h2> -->
         
         <table class="container mt-3">
           <thead>
             <tr>
               <th><h1>Payment_mode </h1></th>
               <th><h1>Transition_id </h1></th>
               <th><h1>Time_info</h1></th>
               <th><h1>Category</h1></th>
               <th><h1>amount</h1></th>
                <th><h1>details</h1></th>
                <th><h1> edit </h1></th>
                <th><h1> delete </h1></th>
             </tr>
           </thead>
           <tbody>
            {% for inc in income%}
            {% if request.user.is_authenticated %}
            {% if inc.user_id == request.user.id %}
            {% if inc.type == 'Income' %}
            <tr>
                 
                <td> <p style="color:green">{{ inc.mode}}</p></td>
                {% if inc.expense_way != 'cash' %}
                <td>{{inc.Transition_id}}</td>
                {% else %}
                <td> --- </td>
                {% endif %}
                <td>{{inc.Transition_date}}</td>
                <td>{{inc.category}}</td>
                <td>  <p style="color:green"> +{{inc.amount}}<span>&#8377;</span></p></td>
                <td>Received_from   - {{ inc.details}}</td>
                <td>  <a  href = " /delete_all_incomes/{{inc.id}}" onclick = "return myFunction()"  style="color:red;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg></a> <br></td>
                <td>
                 <a href = "/update_all_incomes/{{inc.id}}"   > <p class="card-description" style = "color:green"><span> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                </svg></span></p></a>
                   
                 </td>
            </tr>
            {% endif %}
            {% endif %}
            {% endif %}
      {% endfor %}
             
             
           </tbody>
         </table>
 
         <table class = "container">
     <thead>
    
        <th class = "text-center">Total Incomes </th>
        
        <th><p style="color:green">  {{inc_total}} </th>
        
    
     </thead>
    
    
    </table>    
 {% endblock %}
