{% extends 'base.html' %}
{% load static %}
{% block body %}
<body>
<style>

  
  @import url(https://fonts.googleapis.com/css?family=Raleway);
body{
  font-family: 'Raleway', sans-serif;
  background:#ffffff;
}
.list-choice{
  width:300px;
  margin:1em auto;
  position: relative;
  cursor: pointer;  
}
.list-choice input[type="radio"]{
  position:absolute;
  left:-9999px;
}

.list-choice-title {
width: 100%;
display: block;
background: #35416f;
text-align: center;
padding: 0.55em 1em;
box-sizing: border-box;
color: #FFF;
text-shadow: 0 1px 0 #CACACA;
border-radius: 0.2em;
}
.list-choice:hover .list-choice-title {
border-radius:0.2em 0.2em 0 0;
}
.list-choice-objects label:nth-last-of-type(1) span{
  border-radius:0 0 0.2em 0.2em;
}
.list-choice input[type="radio"] + span {
color: #FFF;
background: #8fa1e9;
padding: 0.55em 1em;
display: block;
text-align: center;
box-sizing: border-box;
cursor: pointer;
width: 300px;
}
.list-choice-objects {
position: absolute;
top: 0;
padding-top: 2.1em;
box-sizing: border-box;
width: 100%;
overflow: hidden;
max-height: 0;
transition: all 250ms ease;
}
.list-choice:hover .list-choice-objects  input[type="radio"] + span {
position: relative;
top: 0;
transition: all 250ms ease-in-out;
}
.list-choice:hover input[type="radio"] + span:hover {
background:#dae8f9;
}
.list-choice:hover input[type="radio"]:checked + span:hover {
background:#e0a123;
}
.list-choice input[type="radio"]:checked + span {
background: #e0a123;
position: absolute;
top: 0em;
border-radius: 0.2em;
}
.list-choice:hover input[type="radio"]:checked + span {
border-radius: 0;
}
.list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="radio"]:checked + span{
  border-radius:0 0 0.2em 0.2em;
}

.list-choice:hover .list-choice-objects {
max-height: 540px;
}

.sty{
  font-family: Copperplate, Papyrus, fantasy;
}
</style>

  {% if messages %}
  <div class = "alert alert-danger" role="alert">
    {% for message in messages %}
    {{message}}
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add
    </button>
    {% endfor %}
  </div>
{% endif %}
 {% if exp > 0 %}
 <br>
      <h1 class = "sty">Check your latest year transactions</h1>
      <br>
      <div class = "container">

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        


          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style = "margin-left:150px;"> Add Expense</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form method="post" action="http://localhost:8000/add_expense_mpage/">
                  {% csrf_token%}
              <div class="modal-body">
                 
                
                 <input type = "hidden"  name = "select_Transition" class = "form-control"
                  value =  "Expense"  >
                 
                </button> &nbsp;&nbsp; 
                 <label for = "Category" class="require">Category  </label> 
                 <select name = "select_Category" id = "select_Category" class = "form-control" required>
                  <option selected>select category </option>
                
                  {% for category in Ecat %}
                  {%if category.user_id == request.user.id %}
                  <option >{{category.category}}</option>
                  {% endif %}
                  {% endfor %}
                 </select><br>
                 <label for="date">Date:</label>
                 <input type="date" id="date" name="date"  class = "form-control" ><br>
                 <label for = "Payment_mode" class="require">Payment_mode  </label> 
                 <select name = "Payment_mode" id = "Payment_mode" class = "form-control" required>
                     <option selected >select Payment_mode </option>
                      
                      {% for pay_mode in pm%}
                     {%if pay_mode.user_id == request.user.id %}
                   <option >{{pay_mode.payment_type}} </option>
                     {% endif %}
                     {% endfor %} 
                 </select><br>
                 <label for = "amount" class="require">enter amount in <span>&#8377;</span> </label>
                 <input id="amount" name = "amount" value="" type="number" class="form-control" required  placeholder="enter amount">
                 <br>
                 <label for="details" class="require" >Transition details</label>
                 <textarea style = "padding: 40px; position: relative;" class="form-control"
                  placeholder="Write details here"
                   id="details" 
                   name = "details"></textarea>
              </div>
              
      
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">add</button>
              </div>
          </form>
            </div>
          </div>
        </div> 

        <div style ="display:flex;">
      <form action="" , method="POST" , id = "myform">

        {% csrf_token %}
      
      
      <div class="list-choice">
        <div class="list-choice-title">Month
          
        </div>
        
        <div class="list-choice-objects">
          <div> 
          <label>
            <input type="radio" value="January" name="select_month"  onchange="submitForm()"/><span> January </span>
            
          </label>
          <label>
            <input type="radio" value="February" name="select_month"  onchange="submitForm()"/>  <span>February</span>
          </label>
          <label>
            <input type="radio" value="March" name="select_month"  onchange="submitForm()"/>  <span>March</span>
          </label>
          <label>
            <input type="radio" value="April" name="select_month"  onchange="submitForm()"/>  <span>April</span>
          </label>
          <label>
            <input type="radio" value="May" name="select_month"  onchange="submitForm()"/>  <span>May</span>
          </label>
          <label>
            <input type="radio" value="June" name="select_month"  onchange="submitForm()"/>  <span>June</span>
          </label>
          <label>
            <input type="radio" value="July" name="select_month"  onchange="submitForm()"/>  <span>July</span>
          </label>
          <label>
            <input type="radio" value="August" name="select_month"  onchange="submitForm()"/>  <span>August</span>
          </label>
          <label>
            <input type="radio" value="September" name="select_month"  onchange="submitForm()"/>  <span>September</span>
          </label>
          <label>
            <input type="radio"value="October" name="select_month"  onchange="submitForm()"/>  <span>October</span>
          </label>
          <label>
            <input type="radio" value="November" name="select_month"  onchange="submitForm()"/>  <span>November</span>
          </label>
          <label>
            <input type="radio" value="December" name="select_month"  onchange="submitForm()"/>  <span>December</span>
          </label>
          </div>
          
        </div>
        </div>
      

        </form>
        
            <!-- <img src="data:image/jpg;base64,{{ graph }}" /> -->
      <img src="{% static 'ch.png' %}" alt="Pie Chart"> 
      
      </div>
      
      </div>
      
          <h1 class="mt-4"> <span class="red">{{select_months}} Expenses <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            +more exp.
          </button></span></h1><a href="{% url 'generate_pdf' %}" class="btn btn-secondary" style="margin-left: 79.5%;"><span class="material-symbols-outlined">
            print
            </span></a>
              
          
              <table class="container mt-3">
                <thead>
                  <tr>
                    <th><h1>Payment_mode </h1></th> 
                    <th><h1>Transition_id</h1></th>
                    <th><h1>Time_info</h1></th>
                    <th><h1>Category</h1></th>
                    <th><h1>amount</h1></th>
                    <th><h1>details</h1></th>
                  </tr>
                </thead>
                <tbody>
              
                  {% for exp in expense%}
                  {% if request.user.is_authenticated %}
                  {% if exp.user_id == request.user.id %}
                  {% if exp.type == "Expense" %}
              <tr>
                  
                  <td> <p style="color:red"> {{ exp.mode}}</td></p></td>
                  {% if exp.mode != 'cash' %}
                  <td>{{exp.Transition_id}}</td>
                  {% else %}
                  <td> --- </td>
                  {% endif %}
                  <td>{{exp.Transition_date}}</td>
                  <td>{{exp.category}}</td>
                  <td>  <p style="color:red"> -{{exp.amount}}<span>&#8377;</span></p></td>
                  <td>    -  {{ exp.details}}</td>
              </tr>
              {% endif %}
              {% endif %}
              {% endif %}
        {% endfor %}
                  
                  
                </tbody>
              </table>

              <table class = "container">
          <thead>
        
            <th class = "text-center">Total Expense </th>
            
            <th><p style="color:red">  {{exp_total}} </th>
            
        
          </thead>
        
        
        </table>    
        <script>
          function submitForm() {
              document.getElementById('myform').submit();
          }
          </script>
   {% else %}    
   <h1 style="margin-top: 35px;"> you have not added any expense </h1>   

  <center> <a href="/mykhatabook/" ><Button   class = "btn btn-primary " style="margin-top: 25px; border-radius:15%;border-color: #35416f;border-style: double;width: 150px;
  height:50px;font-size: 25px;box-shadow: #94314e; " >Go Back</Button></center></a>
   {% endif %}
{% endblock %}
 