{% extends  'base.html' %}
{% load static %}
{% block header %}
<style>
    @import 'https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400';
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background: #c2c7d3;
    }
    
    .container{
        position:absolute;
        width: auto;
        height:auto;
        top: calc(50% - 340px);
        left: calc(50% - 240px);
    }
    
    form {
        position: absolute;
        text-align: center;
        background: #fff;
        width: 510px;
        height: 670px;
        border-radius: 5px;
        padding: 30px 20px 0 20px;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
    }
    
    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 12px;
        color: #87613d;
        margin-bottom: 40px;
    }
    
    p > span {
        padding-top: 3px;
        display: block;
        font-weight: 400;
        font-size: 9px;
    }
    
    h3 {
        font-family: 'Dosis';
        font-size: 35px;
        text-transform: uppercase;
        color: #87613d;
        margin-bottom: 30px;
    }
    
    input,
    button{
        outline: none !important; 
    }
    
    button.fb {
        border: none;
        background: #3b5998;
        width: 160px;
        height: 25px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        border-radius: 4px;
        border: 1px solid #29487d;
        cursor: pointer;
        margin-bottom: 20px;
        transition:all 0.3s linear;
    }
    button.fb:hover {
        background: #fff;
        color: #3b5998;
    }
    
    button.form-btn {
        position: absolute;
        width: 50%;
        height: 60px;
        bottom: 0;
        border: 0;
        font-family: 'Dosis';
        font-size: 24px;
        text-transform: uppercase;
        cursor: pointer;
    }
    
    button.form-btn.sx {
        left: 0;
        border-radius: 0 0 0 5px;
        background-color: rgba(255, 125, 0, 0.35);
        color: #fff;
        transition:all 0.3s linear;
    }
    
    button.form-btn.sx:hover {
        background-color:rgba(255, 125, 0, 0.65);
        color: #fff;
    }
    
    button.form-btn.sx.back {
        background-color: rgba(0, 0, 0, 0.15);
        transition:all 0.3s linear;
    }
    
    button.form-btn.sx.back:hover {
        background-color: rgba(0, 0, 0, 0.35);
    }
    
    button.form-btn.dx {
        align : center;
        border-radius: 0 0 5px 0;
        background-color: #8b7c6e;
        color: #fff;
    }
    
    input {
        border: none;
        border-bottom: 1px solid #ffc185;
        width: 85%;
        font-family: 'Roboto';
        color: #8b7c6e;
        text-align: center;
        font-size: 20px;
        font-weight:100;
        margin-bottom:25px;
    }
    
    ::-webkit-input-placeholder {
       color: #8b7c6e;
        font-family: 'Roboto';
        font-weight:100;
    }
    
    :-moz-placeholder {
       color: #f8b7c6efc185;  
        font-family: 'Roboto';
        font-weight:100;
    }
    
    ::-moz-placeholder {
       color: #8b7c6e;  
        font-family: 'Roboto';
        font-weight:100;
    }
    
    :-ms-input-placeholder {  
       color: #8b7c6e; 
        font-family: 'Roboto';
        font-weight:100;
    }
    
    .signIn input,
    .signUp .w100 {
        width: 100%;
    }
    
    .signIn{
            z-index: 1;
            transform: perspective(100px) translate3d(100px, 0px, -30px);
            opacity: 0.5;
    }
    
    .signUp {
        z-index: 2;
    }
    
    .active-dx{
        animation-name: foregrounding-dx;
        animation-duration: 0.9s;
        animation-fill-mode: forwards;
    }
    
    .active-sx{
        animation-name: foregrounding-sx;
        animation-duration: 0.9s;
        animation-fill-mode: forwards;
    }
    
    .inactive-dx{
        animation-name: overshadowing-dx;
        animation-duration: 0.9s;
        animation-fill-mode: forwards;
    }
    
    .inactive-sx{
        animation-name: overshadowing-sx;
        animation-duration: 0.9s;
        animation-fill-mode: forwards;
    }
    
    @keyframes overshadowing-dx {
        0%{
            z-index:2;
            transform: perspective(100px) translate3d(0px, 0px, 0px);
            opacity: 1;
            box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
        }
        100%{
            z-index: 1;
            transform: perspective(100px) translate3d(100px, 0px, -30px);
            opacity: 0.5;
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
        }
    }
    
    @keyframes overshadowing-sx {
        0%{
            z-index:2;
            transform: perspective(100px) translate3d(0px, 0px, 0px);
            opacity: 1;
            box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
        }
        100%{
            z-index: 1;
            transform: perspective(100px) translate3d(-100px, 0px, -30px);
            opacity: 0.5;
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
        }
    }
    
    @keyframes foregrounding-dx {
        0%{
            z-index:1;
            transform: perspective(100px) translate3d(100px, 0px, -30px);
            opacity: 0.5;
        }
        50%{
            z-index:2;
            transform: perspective(100px) translate3d(400px, 0px, -30px);
        }
        100%{
            z-index:2;
            transform: perspective(100px) translate3d(0px, 0px, 0px);
            opacity: 1;
        }
    }
    
    @keyframes foregrounding-sx {
        0%{
            z-index:1;
            transform: perspective(100px) translate3d(-100px, 0px, -30px);
            opacity: 0.5;
        }
        50%{
            z-index:2;
            transform: perspective(100px) translate3d(-400px, 0px, -30px);
        }
        100%{
            z-index:2;
            transform: perspective(100px) translate3d(0px, 0px, 0px);
            opacity: 1;
        }
    }
    .select{
        border: none;
        border-bottom: 1px solid #ffc185;
        width: 85%;
        font-family: 'Roboto';
        color: #8b7c6e;
        text-align: center;
        font-size: 20px;
        font-weight:100;
        margin-bottom:25px;
    }
    
   
   </style>
{% endblock header %}
 {% block body %}
    <div class  = "container1"   >
    
        <div class="row">
            <div class="col-md-12  ">
                 
                <div class="card border text-Black" >
                    <div class = "card-body">
                         <h3 class = "text-center">Update Transition </h3>
    
                        <form action="" method="POST"  name="form1">
                            {% csrf_token %}
                            
                            
                            {% if messages %}
                      <div class = "alert alert-primary" role="alert">
                        {% for message in messages %}
                        {{message}}
                        {% endfor %}
                      </div>
                   {% endif %}
                            <div class="mb-3">
                            <label for = "Transition" class="require"   >select Transition</label>
                               <select name = "select_Transition" id="select_Transition" class="form-control" required > <--onchange="populate(this.id,'select_Category')"-->
                                <option selected> {{queryset.type}}</option>
                                <option value="Expense">Expense</option>
                                <option value="Income"> Income</option>
    
                                  
                               </select>
                            </div> 
                            <div class="mb-3"> 
                                <label for = "Category" class="require">Category  </label> <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <span>&#10010;</span>
                                </button><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                                <span>&#10010;</span>
                                </button>
                            <select name = "select_Category" id = "select_Category" class = "form-control" required placeholder = "select_Category">
                                <option selected >{{queryset.category}} </option>
                                <option disabled  >--------------expense category-------------  </option>
                                {% for category in Ecat %}
                                {%if category.user_id == request.user.id %}
                                <option >{{category.category}}</option>
                                {% endif %}
                                {% endfor %}
                                <option disabled  >--------------income category-------------  </option>
                                {% for category in Icat %}
                                {%if category.user_id == request.user.id %}
                                <option >{{category.category}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            </div> 
                            <label for="date">Date:</label>
                            <input type="date" id="date" name="date" value = "{{queryset.Transition_date  }}"  class = "form-control"><br>     
                            <div class="mb-3"> 
                            <label for = "Payment_mode" class="require">Payment_mode  </label><button type="button"   data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                <span>&#10010;</span>
                                </button>
                            <select name = "Payment_mode" id = "Payment_mode" class = "form-control" required>
                                <option selected>{{queryset.mode}} </option>
                                {% for pay_mode in pm%}
                                {%if pay_mode.user_id == request.user.id %}
                                <option >{{pay_mode.payment_type}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            </div>  
                                      
                                   
                         
                            <div class="mb-3"> 
                             <input id="amount" name = "amount" value="{{queryset.amount}}" type="number" class="form-control" required  placeholder="enter amount">
                            </div>
                           
                           
                            <div class="mb-3">
                                <label for="details" class="require" >Transition details</label>
                                <textarea style = "padding: 40px; position: relative;" class="form-control"
                                placeholder="Write details here"
                                id="details" 
                                name = "details">{{queryset.details}}</textarea>
                            
                            </div> 
                                
                             
                            <div class="container text-center">
                                <button class = "btn btn-primary">save</button>
                            </div>
                             
                        </form>
                     
                </div>
            </div>
        </div>
    </div>
        <!-- Modal -->
        
      <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"> Add Income category</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="http://localhost:8000/addextraIcategory/">
                {% csrf_token%}
            <div class="modal-body">
                <label for = "">category</label>
              <input name = "new_category" type= "text" />
            </div>
            <input type = "hidden"  name = "val" class = "form-control"
            value =  "0"  >
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">add</button>
            </div>
        
        </form>
          </div>
        </div>
      </div>
    
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"> Add Expense category</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="http://localhost:8000/addextraEcategory/">
                    {% csrf_token%}
                <div class="modal-body">
                    <label for = "">category</label>
                  <input name = "new_category" type= "text" />
                </div>
                <input type = "hidden"  name = "val" class = "form-control"
                value =  "0"  >
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">add</button>
                </div>
            
            </form>
              </div>
            </div>
          </div>
        
    
      {% comment %} payment pop-up  {% endcomment %}
      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"> Add Payment_mode</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post"   action="http://localhost:8000/addextraPaymode/">
                {% csrf_token%}
            <div class="modal-body">
                <label for = "">Payment_mode</label>
              <input name = "new_pay_mode" type= "text" />
            </div>
            <input type = "hidden"  name = "val" class = "form-control"
            value =  "0"  >
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">add</button>
            </div>
        </form>
          </div>
        </div>
      </div>
     
    </div>    
     
{% endblock %}